body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: gray;
}

@font-face{
    font-family: "rcFont";
    src: url('../resources/rcfont.ttf');
}

#title{
    font-family: "rcFont";
}

#nav{
    margin: 0px 150px;
}

#nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    padding-bottom: 0;
}

#nav span{
    display: inline-block;
    vertical-align: middle;
    height: 29px;
    padding-top: 2px;
    background-image: url('../resources/navmid.png');
    background-size: contain;
    font-family: "rcFont";
    text-decoration: none;
    color: yellow;
}

#tables{
    margin: 0px 150px;
    padding: 20px 30px;
    background-color: #606060;
    border: 3px solid black;
}

#buttons{
    margin: 10px 150px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

#buttons button{
    font-weight: 600;
    background: linear-gradient(45deg, white 33.3%, #DDD 66.7%, #BBB 100%);
}

#buttons button:hover{
    background: linear-gradient(45deg, #BBB 33.3%, #DDD 66.7%, white 100%);
}

#tables table{
    background-color: white;
    margin-bottom: 0px;
    padding-right: 10px;
}

#tables table tr th{
    border: 0px;
}

#tables table tr:hover{
    background-color: #DDD;
}

.divStage{
    vertical-align: top;
    display: inline-flex;
    background: #343a40;
    padding: 10px;
    margin: 5px 0px;
}

h1, h2, h3, h4, h5, h6{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.divTitleImage{
    width: 30%;
    display: inline-block;
    padding: 10px;
    font-style: italic;
}

.mapImage{
    width: 100%;
}