body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: gray;
}

#tables{
    margin: 0px 150px;
    padding: 20px 50px;
    background-color: #606060;
    border: 1px solid black;
    display: none;
}

#tables table{
    border: 3px solid black;
    background-color: white;
}

h1, h2{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
