body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: gray;
}

#tables{
    margin: 0px 150px;
    padding: 20px 30px;
    background-color: #606060;
    border: 3px solid black;
}

#buttons{
    margin: 10px;
}

#buttons button{
    margin: 2px;
}

#tables table{
    background-color: white;
    margin-bottom: 0px;
    padding-right: 10px;
}

#tables table tr th{
    border: 0px;
}

.divStage{
    vertical-align: top;
    display: inline-flex;
    background: #343a40;
    padding: 10px;
    margin: 5px 0px;
}

h1, h2, h3, h4, h5, h6{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.divTitleImage{
    width: 30%;
    display: inline-block;
    padding: 10px
}

.mapImage{
    width: 100%;
}