body{
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

@font-face{
    font-family: "rcFont";
    src: url('../../resources/rcfont.ttf');
}

#nav{
    margin: 0px 150px;
}

#title{
    padding: 2.5vh 7.5vw;
    margin: 0;
    font-family: "rcFont";
    text-shadow: 0.4vw 0.4vw black;
    font-size: 3.5vw;
    color: gold;
    text-align: center;
}

#title_icon{
    line-height: 0;
    position: absolute;
    top: 2.5vh;
    left: 2.5vw;
    background-color: white;
    border: 0.3vw solid black; 
    border-radius: 50%;
}

#title_icon img{
    width: 5vw;
}

#title_icon:hover {
    opacity: 0.85;
}

#nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 20px 0;
    margin: auto;
}

#nav ul li a {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
}

#nav span{
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    height: 29px;
    background-image: url('../../resources/navmid.png');
    background-size: contain;
    font-family: "rcFont";
    text-decoration: none;
    color: yellow;
}

#nav button{
    padding: 0;
    border: none;
    background: none;
}

#main {
    margin: 100px 150px 120px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main button {
    border: none;
    border-radius: 50vh;
    background-color: white;
    padding: 0;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

#main button:focus {
    outline: none;
}

#main button:hover i {
    color: #333;
}

#main i {
    font-size: 50px;
    color: #000;
    mix-blend-mode:darken;
}

.book {
    position: relative;
    width: 525px;
    height: 750px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 2250px;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid #111;
}

.back {
    z-index: 0;
}

.front-content, .back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg);
}

.flipped .front, .flipped .back {
    transform: rotateY(-180deg);
}

#p1 {
    z-index: 5;
}

#p2 {
    z-index: 4;
}

#p3 {
    z-index: 3;
}

#p4 {
    z-index: 2;
}

#p5 {
    z-index: 1;
}

#entrylist{
    margin: 0 150px 20px 150px;
    padding: 0 10px 10px 10px;
    background-color: #343a40;
}

#entrylist table{
    width: 100%;
    margin: auto;
}

#entrylist table th{
    background-color: #343a40;
    color: #FFF;
}

#entrylist table tr{
    background-color: #FFF;
    color: black;
    border-top: 2px #DDD solid;
}

#entrylist table tr:first-child{
    border-top: none;
}

#entrylist table td, th{
    padding: 10px 50px;
}

#entrylist table tr td:first-child{
    font-weight: 600;
}

#modalDriverProfile {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

#showModalBtn {
    background-color: #EEE;
    border: 1px solid black;
    border-radius: 8px;
}

#showModalBtn:focus {
    outline: none;
}

#showModalBtn:hover {
    background-color: #CCC;
}

#showModalBtn:active {
    
    background-color: #AAA;
}

#closeModal {
    font-size: 5rem;
    line-height: 1;
    font-weight: bolder;
    position: absolute;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    color: white;
}

#closeModal:hover {
    color: #CCC;
}

#buttons{
    margin: 0 150px 10px 150px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    font-family: "Trebuchet MS";
}

#buttons button{
    border-radius: 50vh;
    font-weight: 600;
    margin: 0px 3px;
    background: linear-gradient(45deg, white 33.3%, #DDD 66.7%, #BBB 100%);
}

#buttons button:hover{
    background: linear-gradient(45deg, #BBB 33.3%, #DDD 66.7%, white 100%);
}

.tables{
    background-color: rgba(52,58,64,0.75);
    padding: 10px 10px 10px 10px;
    font-size: 1vw;
    margin: 0px 150px 20px 150px;
}


.tables table{
    width: 70%;
    background-color: #FFF;
    margin-bottom: 0px;
    padding-right: 10px;
}

.tables table th {
    border-top: none;
}

.tables table td, #tables table th{
    vertical-align: middle;
}

.tables table td:nth-child(2) {
    position: relative;
    background-color: rgba(0,0,0,0.03);
}

#finalboard table tr:not(#emptyFinalTable):nth-child(1) {
    background-color: rgba(255,215,0,0.25);
}

#finalboard table tr:not(#emptyFinalTable):nth-child(1):hover {
    background-color: rgba(205,165,0,0.25);
}

#finalboard table tr:nth-child(2) {
    background-color: rgba(192,192,192,0.25);
}

#finalboard table tr:nth-child(2):hover {
    background-color: rgba(142,142,142,0.25);
}

#finalboard table tr:nth-child(3) {
    background-color: rgba(205,127,50,0.25);
}

#finalboard table tr:nth-child(3):hover {
    background-color: rgba(155,77,0,0.25);
}

.gapsHint {
    font-size: 20px;
    position: absolute;
    visibility: hidden;
    background-color: rgba(50,50,50,0.5);
    padding: 0 7px;
    border: 2px solid #333;
    border-radius: 10px;
}

.gapsHint span {
    text-shadow:
        1px 1px 0 #333,
        -1px -1px 0 #333,  
         1px -1px 0 #333,
        -1px 1px 0 #333,
        2px 2px 1px #333;
}

.gapToRankAbove {
    color: coral;
}

.gapToRankBelow {
    color: lightgreen;
}

.gapToLeader {
    cursor: pointer;
}

.gapToLeader:hover .gapsHint {
    visibility: visible;
}

.tables table tr:hover, #entrylist table tr:hover {
    background-color: #DDD;
}

.divStage:first-of-type {
    margin-top: 0;
}

.divStage:last-of-type {
    margin-bottom: 0;
}

.divStage{
    vertical-align: top;
    display: inline-flex;
    background: #343a40;
    padding: 0 1em 1em 1em;
    margin: 5px 0px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.stageName{
    font-size: 1.7em;
}

.divTitleImage{
    width: 30%;
    display: inline-block;
    padding: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    font-style: italic;
}

.mapImage{
    width: 100%;
}

canvas.tables{
    width: 80% !important;
    display: initial !important;
    background-color: white;
}

.updateCollapsible {
    background-color: #343a40;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}

.active, .updateCollapsible:hover {
    background-color: #242a30;
}

.updateContent {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}

.updateCollapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.updateContent > p {
    text-align: justify;
    margin-top: 20px;
    color: black;
}

#updatelist {
    margin: 0 150px 20px 150px;
}

.updateRallyWinner {
    text-align: center;
}